.mat-dialog-content {
    width: 500px;
}

.mat-column-date {
    margin-right: 15px;
}

.mat-column-estimatedBalance {
    flex: 0 0 75px;
    margin-right: 15px;
}

.mat-column-actualBalance {
    flex: 0 0 75px;
    margin-right: 15px;
}

.mat-column-balanceDifference {
    flex: 0 0 75px;
}