@import "~sass/_variables.scss";
.site-wrapper {
    height: 100%;
}

.content-wrapper {
    height: 100%;
}

.toggle-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    margin: 15px;
}