<div *ngIf="financeService.selectedBudget"
     class="container-fluid content-wrapper">
  <div class="row flex-grow-1">
    <div class="col-12 col-md-5 col-lg-4 col-xl-3">
      <div class="sidebar-wrapper">
        <div class="sidebar p-3">
          <app-sidebar class="w-100p"></app-sidebar>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-7 col-lg-8 col-xl-9 charts-wrapper">
      <mat-tab-group class="w-100p h-100p pt-3">
        <mat-tab label="Charts">
          <div class="container-fluid flex-grow-1 d-flex flex-column pb-1">
            <div class="row flex-grow-1">
              <div class="col-md-4 my-3">
                <app-balance-pie-chart></app-balance-pie-chart>
              </div>
              <div class="col-md-4 my-3">
                <app-revenue-pie-chart></app-revenue-pie-chart>
              </div>
              <div class="col-md-4 my-3">
                <app-expense-pie-chart></app-expense-pie-chart>
              </div>
            </div>
            <div class="row d-flex flex-column flex-grow-2">
              <div class="col-12 d-flex flex-column flex-grow-1">
                <div class="d-flex flex-column flex-grow-1 my-3">
                  <app-budget-chart class="d-flex flex-column flex-grow-1"></app-budget-chart>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Calendar">
          <app-calendar class="h-100p"></app-calendar>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
<ng-container *ngIf="financeService.selectedBudget">
  <router-outlet></router-outlet>
</ng-container>
