<div class="container pt-5 pb-5">
  <div class="brand">
    <app-logo svgHeight="50px"
              hexColor="333"></app-logo>
    <div [routerLink]="['/']"
         class="brand-text pointer">Daebit</div>
  </div>
  <h2 class="h4">Reset my password</h2>
  <form (ngSubmit)="forgotPassword(forgotPasswordForm)"
        #forgotPasswordForm="ngForm">
    <mat-form-field>
      <input matInput
             id="email"
             name="email"
             placeholder="Email"
             type="text"
             ngModel
             #email="ngModel"
             required
             email="true" />
      <mat-error *ngIf="email.hasError('required')">
        Email is required
      </mat-error>
      <mat-error *ngIf="!email.hasError('required') && email.invalid">
        Please enter a valid email
      </mat-error>
    </mat-form-field>
    <button mat-raised-button
            color="primary"
            type="submit"
            [disabled]="forgotPasswordForm.invalid || isRequesting">Submit</button>
    <app-spinner [isRunning]="isRequesting"></app-spinner>
    <div *ngIf="errors"
         class="alert alert-danger mt-3"
         role="alert">
      <strong>Oops!</strong> {{ errors }}
    </div>
  </form>
</div>
