// Define a custom mixin that takes in the current theme
@mixin theme-color-grabber($theme) {
    // Parse the theme and create variables for each color in the pallete
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn); // Create theme specfic styles
    $foreground: map-get($theme, foreground);

    &.primary-bg {
        background-color: mat-color($primary) !important;
    }
    &.accent-bg {
        background-color: mat-color($accent) !important;
    }
    &.warn-bg {
        background-color: mat-color($warn) !important;
    }
}