// Shared Colors
$brand-color: #777;
$brand-color-light: #ddd;
$brand-color-dark: #333;
$brand-color-opaque: rgba(0, 0, 0, .5);

// Fonts
$brand-font: 'Inconsolata', Arial, sans-serif;
$general-font: 'Sansita', sans-serif;

$table-font-size: 14pt;

// Public Layout
$public-footer-bg-color: #333;
$public-navbar-height: 57px;
$public-footer-height: 100px;

// Private Layout
$top-bar-height: 60px;

$sidebar-width: 200px;
$sidenav-bg-color: #F4F5F7;
$sidenav-btn-bg-color: #E0E1E3;

$dashboard-footer-height: 60px;
$setup-footer-height: 60px;