.mat-column-description {
    margin-right: 15px;
}

.mat-column-amount {
    flex: 0 0 75px;
    margin-right: 15px;
}

.mat-column-delete {
    flex: 0 0 50px;
    overflow: initial;
    text-align: center;
}