<div class="container pt-5 pb-5">
    <h1 class="h4">Change your password</h1>
    <form (ngSubmit)="changePassword(changePasswordForm)"
          #changePasswordForm="ngForm">
        <mat-form-field>
            <input matInput
                   id="oldPassword"
                   name="oldPassword"
                   placeholder="Password"
                   type="password"
                   ngModel
                   #oldPassword="ngModel"
                   required
                   minlength="8"
                   maxlength="50" />
            <mat-error *ngIf="oldPassword.hasError('required')">
                Password is required
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput
                   id="newPassword"
                   name="newPassword"
                   placeholder="Password"
                   type="password"
                   ngModel
                   #newPassword="ngModel"
                   required
                   minlength="8"
                   maxlength="50"
                   pattern="(?=.*\d)((?=.*[a-z])|(?=.*[A-Z])).{0,}"
                   validateEqual="confirmPassword"
                   reverse="true" />
            <mat-error *ngIf="newPassword.hasError('required')">
                Password is required
            </mat-error>
            <mat-error *ngIf="newPassword.hasError('minlength') && !newPassword.hasError('required')">
                Password must be at least 8 characters
            </mat-error>
            <mat-error *ngIf="newPassword.hasError('maxlength') && !newPassword.hasError('required') && !newPassword.hasError('minlength')">
                Password must be less than 50 characters
            </mat-error>
            <mat-error *ngIf="newPassword.hasError('pattern') && !newPassword.hasError('required') && !newPassword.hasError('minlength') && !newPassword.hasError('maxlength')">
                Password must contain a character and number
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput
                   id="confirmPassword"
                   name="confirmPassword"
                   placeholder="Confirm Password"
                   type="password"
                   ngModel
                   #confirmPassword="ngModel"
                   required
                   validateEqual="password"
                   reverse="false"
                   [class.is-valid]="confirmPassword.valid && !confirmPassword.pristine"
                   [class.is-invalid]="!confirmPassword.valid && !confirmPassword.pristine" />
            <mat-error *ngIf="confirmPassword.valid || (confirmPassword.pristine && !changePasswordForm.submitted)">
                Password does not match
            </mat-error>
        </mat-form-field>
        <button mat-raised-button
                color="primary"
                type="submit"
                [disabled]="changePasswordForm.invalid || isRequesting">Save</button>
        <app-spinner [isRunning]="isRequesting"></app-spinner>
        <div *ngIf="errors"
             class="alert alert-danger mt-3"
             role="alert">
            <strong>Oops!</strong> {{errors}}
        </div>
    </form>
</div>
