<!-- Generator: Gravit.io -->
<div class="logo">
  <span [routerLink]="['/']"
        class="pointer">
    <svg [style.width]="svgWidth"
         [style.height]="svgHeight"
         viewBox="453.838 -181.245 61.73 53.459">
      <g>
        <path d=" M 484.693 -181.245 L 453.838 -127.847 L 484.693 -127.847 L 467.463 -135.457 L 484.693 -165.318 L 501.943 -135.457 L 484.693 -127.847 L 515.568 -127.786 L 484.693 -181.245 Z "

              fill="transparent"
              [style.fill]="hexColor" />
        <path d=" M 505.804 -134.32 L 484.693 -127.847 L 484.693 -165.318 L 505.804 -134.32 Z "
              fill="transparent"
              [style.fill]="hexColor"
              fill-opacity="0.5" />
      </g>
    </svg>
  </span>
</div>
